<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  clear: both;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: yellowgreen;
   color: white;
   text-align: center;
}
</style>
</head>
<body>


<div class="footer">
  <a href="https://www.smartedge.in">About Smartedge</a>
</div>

</body>
</html> 



