<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
            <div class="a" data-error="Please enter valid details">
        {{>header}}
        {{>navbar}}
            <h2>Regions</h2>
        <form action="/regions" method="POST">
            {{!-- <label for="Region">Select Region ID:-</label>
            <input type="text" id="protocol" name ="regionid"><br> --}}
        
        <label for="Region">Region:-</label>
            <select id="protocol" name="region" required>
                <option value="">Select region</option>
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Chennai">Chennai</option>
            </select><br>
    
        {{!-- <input type="list" id="protocol" name ="region"><br> --}}
        <label for="Region">PostalAddress:-</label>
        <input type="text" id="protocol" name ="postaladdress" required><br>
        
        <label for="Region">Notes:-</label>
        <input type="text" id="protocol" name ="notes" required><br>
        
        {{!-- <label for="Region">Date:-</label>
        <input type="text" id="protocol" name ="date"><br> --}}
        
        <label for="Region">Version:-</label>
        <input type="text" id="protocol" name ="version" required><br>
        
        {{!-- <label for="Region">Delete:-</label>
        <input type="text" id="protocol" name ="delete"><br> --}}
        
        <button type="submit">Save</button>        

    </form>
    {{>footer}}
    </div>
</body>
</html>