<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="a">
            {{>header}}
            {{>navbar}}

        <form action="/admin" method="POST">
            <h2>Welcome Administrator to IPAM by Smartedge</h2>

        <div class="form-group"><br>
        <label for="uname">User Name:-</label>
        <input type="text" name="uname" id="uname"><br>
        </div>

        <br>
        <label for="email">User Email:-</label>
        <input type="text" name="email" id="email"><br>
        </div>

        <div class="a"><br>
        <button type="submit">SUBMIT</button>
        </div>

        </form>

            {{>footer}}    
    </div>

</body>
</html>