<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    {{>header}}
    {{>navbar}}
        <form action="/appowner" method="POST">
        <div class="a">
            <h2>Application Owners Details</h2>
            {{!-- <label for="appownerid">App Owner ID:-</label>
            <input type="text" name="appownerid" id="appownerid"><br> --}}
            
            <label for="appownermail">Owner Name:-</label>
            <input type="text" name="appownermail" id="appownermail" required><br>

            <label for="apptelephone">Telephone:-</label>
            <input type="text" name="apptelephone" id="apptelephone" required><br>

            <label for="appfname">User First Name:-</label>
            <input type="text" name="appfname" id="appfname" required><br>

            <label for="applname">User Last Name:-</label>
            <input type="text" name="applname" id="applname" required><br>

            <label for="appcrit">Criticality:-</label>
            <input type="text" name="appcrit" id="appcrit" required><br>

            {{!-- <label for="date">Date:-</label>
            <input type="text" name="date" id="date"><br> --}}

            {{!-- <label for="delete">Delete:-</label> 
            <input type="text" name="delete" id="delete"><br> --}}

            <button type="submit">Save</button>
        </div>
    {{>footer}}
    </form>
</body>
</html>