<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    {{>navbar}}
    <form action="/first" method="POST">
    <div class="a">
    <h2>IPAM by Smartedge</h2>
    
    <br>
    <label for="city">Region:-</label>
        <select name="city" id="city" required>
            <option value="">Select Region</option>
            <option value="Pune">Pune</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Chennai">Chennai</option>
            <option value="Delhi">Delhi</option>
        </select>
    <br>

    
    <br>
    <label for="postaladdress">Postal Adress:-</label>
    <input type="postaladdress" name="postaladdress" id="postaladdress" placeholder="Pincode" required><br>
    <br>

    <label for="noteregion">Notes:-</label>
    <input type="text" name="noteregion" id="noteregion" ><br>

    <br>
    <button type="submit">NEXT</button>
    </div>

    </form>
    {{>footer}}
</body>
</html>