<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="a">
        {{>header}}
        {{>navbar}}
    <form action="/logged" method="POST">
        <label for="IP">Please enter IP Address:-</label>
        <input type="text" id="protocol" name="ipadders"><br>
        <label for="IP">Subnet:-</label>
        <input type="text" id="protocol" name="sub"><br>
        <button type="submit">Save</button>        

    </form>
    </div>   
</body>
</html>