<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
            <div class="a">
        {{>header}}
        {{>navbar}}
    <form action="/regions" method="POST">
        <h2>Welcome to IPAM by SmartEdge</h2>

        <label for="Region">Enter Region:-</label>
        <input type="text" id="protocol" name ="region"><br>
        
        <br>
        <label for="Region">Postal Address:-</label>
        <input type="text" id="protocol" name ="postaladdress">
        <br>

        <br>
        <label for="Region">Notes:-</label>
        <input type="text" id="protocol" name ="notes"><br>

        <br>
        <button type="submit">Save</button>        

    </form>
    {{>footer}}
    </div>
</body>
</html>