<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
            <div class="a">
        {{>header}}
        {{>navbar}}
    <form action="/logged" method="POST">
        <label for="Region">Please enter Region ID:-</label>
        <input type="text" id="protocol" name ="RegionID"><br>
        <label for="Region">Please enter Region:-</label>
        <input type="text" id="protocol" name ="Region"><br>
        <label for="Region">Please enter PostalAddress:-</label>
        <input type="text" id="protocol" name ="PostalAddress"><br>
        <label for="Region">Notes:-</label>
        <input type="text" id="protocol" name ="Notes"><br>
        <label for="Region">Version:-</label>
        <input type="text" id="protocol" name ="Version"><br>
        <label for="Region">Delete:-</label>
        <input type="text" id="protocol" name ="Delete"><br>
        <button type="submit">Save</button>        

    </form>
    </div>
</body>
</html>