<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
            <div class="a">
        {{>header}}
        {{>navbar}}
        <h2>Regions</h2>
    <form action="/regions" method="POST">
        <label for="Region">Please enter Region ID:-</label>
        <input type="text" id="protocol" name ="regionid"><br>
        <label for="Region">Please enter Region:-</label>
        <input type="text" id="protocol" name ="region"><br>
        <label for="Region">Please enter PostalAddress:-</label>
        <input type="text" id="protocol" name ="postaladdress"><br>
        <label for="Region">Notes:-</label>
        <input type="text" id="protocol" name ="notes"><br>
        <label for="Region">Date:-</label>
        <input type="text" id="protocol" name ="date"><br>
        <label for="Region">Version:-</label>
        <input type="text" id="protocol" name ="version"><br>
        <label for="Region">Delete:-</label>
        <input type="text" id="protocol" name ="delete"><br>
        <button type="submit">Save</button>        

    </form>
    {{>footer}}
    </div>
</body>
</html>