<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    {{>navbar}}
    <div class="a">
    <form action="/second" method="POST">
    <h2>IPAM by SmartEdge</h2>
        
      <br>
    <label for="ipadd">IP Address:-</label>
    <input type="text" id="ipcon" name="ipadders" required placeholder="Device Identity"><br>

    <br>
    <label for="secgrp">Security Group:-</label>
    <input type="text" id="secgrp" name="secgrp" required placeholder="Security group Details">


    <label for="sgnote">Note:-</label>
    <input type="text" id="sgnote" name="sgnote"><br>

    <br>
    <button type="submit">NEXT</button>

    </form>
    </div>
    

    {{>footer}}
</body>
</html>