<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="a">
    <form action="/seventh" method="POST">
    {{>header}}
    {{>navbar}}
    <h2>IPAM by Smartedge</h2>

    <br>
    <label for="apmid">APMID:-</label>
    <input type="text" id="apmid" name="apmid" required><br>


    <br>
    <label for="apmnote">Note:-</label>
    <input type="text" id="apmnote" name="apmnote"><br>

    <br>
    <button type="submit">SUBMIT</button>

    {{>footer}}
    </form>
    </div>
</body>
</html>