<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    {{>navbar}}
    <div class="a">
    <form action="/third" method="POST">
    <h2>IPAM by SmartEdge</h2>
    

    <br>
    <label for="app">Application Type:-</label>
    <input type="text" id="app" name="app" placeholder="Application Type" required>


    <label for="appnote">Note:-</label>
    <input type="text" id="appnote" name="appnote"><br>

    <br>
    <button type="submit">NEXT</button>
    {{>footer}}
    
    </form>
    </div>
</body>
</html>