<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        
        {{>header}}
        {{>navbar}}

    <div class="a">
    <div class="form-action">

     <form action="/user" method="POST">
        <h2>Welcome User!</h2>
        </div>
    
    <br>
    <label for="name">Name:-</label>
    <input type="text" id="name" name="name" required placeholder="Please enter full name"><br>
    

    <br>
    <label for="email">Email:-</label>
    <input type="text" id="email" name="email" required><br>  
    

    <label for="app">Application Owner Mail:-</label>
    <input type="text" id="app" name="apponame" placeholder="Owner Mail ID" required>


    
    <label for="app">Application Owner Name:-</label>
    <input type="text" id="app" name="apponame" placeholder="Enter full name" required><br>

    <br>
    <label for="app">Application Owner Contact:-</label>
    <input type="text" id="app" name="appotele" placeholder="Phone number" required>


    <label for="appnote">Note:-</label>
    <input type="text" id="appnote" name="appnote"><br>

    <br>
    <label for="apmid">APMID:-</label>
    <input type="text" id="apmid" name="apmid"><br>

    <br>
    <button type="submit">SUBMIT</button>
    

        {{>footer}}
    </div>
    </form>
</body>
</html>