<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        
        {{>header}}
        {{>navbar}}

    <div class="a">
    <div class="form-action">

     <form action="/user" method="POST">
        <h2>Welcome User to IPAM by Smartedge</h2>
        <h3>Please provide the details as follow</h3>
        </div>
    
    <br>
    <label for="name">Name:-</label>
    <input type="text" id="name" name="name" required placeholder="Please enter full name"><br>
    

    <br>
    <label for="email">Email:-</label>
    <input type="text" id="email" name="email" required><br>  
    
    <br>
    <button type="submit">SUBMIT</button>
    

        {{>footer}}
    </div>
    </form>
</body>
</html>